#dtitle {
    padding: 0px 10px 0px 0px;
    margin-bottom: 0px;}

#stats {
    width: 100%;}

#stats td {
    text-align: center;
    width: 33.3%;
    border: 1px solid #eee;
    border-radius: 5px;
    background: #fff;}

#dcontent {
    padding: 0px 10px;
    clear: both;}

#dcontent input[type=checkbox], .help-list li input[type=checkbox] {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
}
.help-list {
    padding: 0px;
}
.help-list li {
    list-style-type: none;
}
.help-list li ul li {
    list-style-type: disc;
}
.help-list li ol li {
    list-style-type: decimal;
}

