#dtitle {
    padding: 0px 10px 0px 0px;
    margin-bottom: 0px;}

#stats {
    width: 100%;}

#stats td {
    text-align: center;
    width: 33.3%;
    border: 1px solid #eee;
    border-radius: 5px;
    background: #fff;}

#dcontent {
    padding: 0px 10px;
    clear: both;}

#dcontent input[type=checkbox], .help-list li input[type=checkbox] {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

/* sometimes the UI puts a special div around the checkboxes, sometimes it doesn't.
   we have to compensate for the resulting mis-stylings here */
#dcontent .ui-checkbox, .help-list li .ui-checkbox {
    margin: 0px;
    display: inline;}
#dcontent .ui-checkbox input, .help-list li .ui-checkbox input {
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0px;}
/* end of mis-stylings compensation */

.help-list {
    padding: 0px;
}
.help-list li {
    list-style-type: none;
}
.help-list li ul li {
    list-style-type: disc;
}
.help-list li ol li {
    list-style-type: decimal;
}

